body {
	display: flex;

	justify-content: center;
	align-items: center;

	background-color: #222;

	height: 50vh;

	font-family: "Poppins", sans-serif;
}

.container {
	margin-top: 50vh;
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	box-shadow: 0 0 10px black;

	border-radius: 8px;

	background-color: #444;

	padding: 15px;

	background-image: url("/assets/cobrador.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-blend-mode: soft-light;
}

p,
label {
	color: #eee;
	font-size: 16px;
	font-weight: 500;
}

label {
	padding-left: 7px;
}

.q_form {
	display: flex;
	border-bottom: 1px solid #000;
}

.q_div {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.q_inp {
	width: 100px;
	max-width: 70px;
	border: none;
	border-radius: 4px;

	height: 33px;

	padding: 0 15px 0 10px;
	margin: 0 5px 0 5px;
	font-weight: 400;
}

.inp-container {
	margin: 15px 0 15px 0;
}

.inp {
	border: none;
	border-radius: 4px;

	width: 230px;
	height: 33px;

	padding: 0 15px 0 10px;

	font-weight: 400;
}

.inp:first-child {
	margin-right: 5px;
}

.inp:focus {
	border: none;
}

.btn {
	border: none;
	border-radius: 4px;

	width: 100px;
	height: 33px;

	font-size: 16px;
	font-weight: 500;

	box-shadow: 0 0 5px black;
}

.btn:hover {
	box-shadow: 0 0 2px black;
	background-color: #ddd;
}

.result {
	margin-top: 15px;

	font-size: 16px;
	font-weight: 500;
	color: #eee;

	max-width: 400px;
	max-height: 200px;

	text-align: center;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;

	padding-right: 5px;

	overflow: auto;
}

::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}
